#!/usr/local/bin/php -n
<?php
$PLUGIN_NAME='Site Scanner Plugin';
$PLUGIN_YEAR=2017;
$CHARSET='utf-8';
setlocale(LC_ALL, "en_US.UTF-8");

include('common.php');
ini_set('display_errors',1);

setTimezone('UTC');
if (strpos($params['skin'],'power_')===0) echo "<div style='position:absolute;width:100%;left:0'><center>";
?>
<style>
//tr:nth-child(3n) {font-weight: bold}
//tr:nth-child(4n) {font-weight: bold}
.bold {font-weight: bold}
.gray {color: gray}
input[type="radio"]+span {color: gray}
input[type="radio"]:checked+span {color: black}
td.tabselected a, td.tab a {display: block}
td.listtitle {padding: 4px}
td.listtitle a {color: inherit}
td.listtitle button {float:right;padding:0px 6px}
td.wrap {
white-space: -moz-pre-wrap !important;
white-space: -webkit-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
white-space: pre-wrap;
word-wrap: break-word;
word-break: break-all;
white-space: normal;
}
ul.ext { -webkit-column-count: 4; -moz-column-count: 4; column-count: 4; text-align: left; padding: 0;}
ul.ext li {list-style-type: none;}
pre.cmd { text-align:left;word-wrap:break-word; white-space:-moz-pre-wrap; white-space: pre-wrap; max-width:700px; display:inline-block}
a {text-decoration: underline};
</style>
<?php
chdir($_ENV['HOME']);
$PATH='/usr/bin:/bin:/usr/sbin:/sbin:/opt/local/bin:/usr/local/sbin:/usr/local/bin';
$PLUGINDIR=preg_replace('#/[a-z]+/[^/]+$#','',$_SERVER['SCRIPT_FILENAME']);
$USERDIR=$_SERVER['HOME'].'/.plugins/site_scan';
if (!is_dir($USERDIR)) mkdir($USERDIR,0700,1);
#$phpmalwarefinder="$PLUGINDIR/distr/php-malware-finder/php-malware-finder/phpmalwarefinder";
#$phpscanner="$PLUGINDIR/distr/php-malware-scanner/phpscanner.py";
#$clamscan=trim(`PATH=$PATH which clamscan`);
#if (!$python=trim(`PATH=$PATH which python`)) $python=trim(`PATH=$PATH which python2`);
#$yara=trim(`PATH=$PATH which yara`);
#$bash=trim(`PATH=$PATH which bash`);

//if (!$config['email']) {
//    if ($acc_data=getAccountData()) $config['email']=$acc_data['email'];
//    else $config['email']=$_SERVER['USERNAME'].'@'.php_uname('n');
//}

#if (!$_POST['action'] OR $_POST['action']=='multiple') {
if ($_GET['whitelist'] AND $whitefile=base64_decode($_GET['whitelist'],"strict") AND !file_exists("{$_SERVER['HOME']}/$whitefile")) {
    echo $txt['FileNotFound'];
} elseif ($_GET['siginfo']) {
    $sigtool=trim(`PATH=$PATH which sigtool`);
    if (!$sigtool) message("{$txt['Error']}: sigtool {$txt['NotFound']}!",'back');
    $cmd="$sigtool --find-sigs='{$_GET['siginfo']}' 2>&1| tail -n1 | cut -d' ' -f2- | $sigtool --decode-sigs 2>&1";
    echo "<pre class=cmd>";
//    echo "\$ $cmd\n\n";
    echo(htmlentities(shell_exec($cmd),ENT_COMPAT|ENT_HTML401,"UTF-8"));
    echo "</pre>";
} elseif (true) {
    if ($_POST['autoblock']){
        if ($params['autoblock']=='off') touch("$USERDIR/autoblock_off");
        else @unlink("$USERDIR/autoblock_off");
    } elseif ($_POST['whitelist']) {
        if(! $whitelist=@file("$USERDIR/whitelist.txt",FILE_IGNORE_NEW_LINES|FILE_SKIP_EMPTY_LINES)) $whitelist=array();
        $count=count($whitelist);
        foreach($_POST as $key=>$val) if (preg_match('/^select\d+$/',$key)) {
            $val=$_SERVER['HOME'].$val;
            if (!in_array($val,$whitelist)) $whitelist[]=$val;
        }
        if ($count<count($whitelist)) {
            sort($whitelist,SORT_LOCALE_STRING);
            file_put_contents("$USERDIR/whitelist.txt",implode("\n",$whitelist)."\n");
        }
    } elseif ($_GET['whitelist'] AND $whitefile) {
        if (substr(sprintf('%o', fileperms("{$_SERVER['HOME']}/$whitefile")), -3)=='000') chmod("{$_SERVER['HOME']}/$whitefile",0644);
    }
    if (@filesize("$USERDIR/infected.list") AND $list=file("$USERDIR/infected.list")) {
        $count=count($list);
        $infected=$newlist=array();
        foreach ($list as $str)
            if (preg_match("#^({$_SERVER['HOME']}/.+): (\S+?)(\.UNOFFICIAL)? FOUND$#",$str,$m)) {
                $file=array('path' => $m[1], 'virus' => $m[2], 'unoff' => strlen($m[3])>0);
                if (!@filesize($file['path'])) continue;
                $file['blocked']=(substr(sprintf('%o', fileperms($file['path'])), -3)=='000');
                $newlist[]=$str;
                $infected[]=$file;
            }
        if (count($newlist)<$count) file_put_contents("$USERDIR/infected.list",$newlist);
    }
    $lastcheck=$lastfull=@filemtime("$PLUGINDIR/data/lastrun");
    if ($_POST['rescan']) {
        if (!$infected) message("{$txt['Error']}: {$txt['AllClear']}!",'back');
        foreach ($infected as $file) if ($file['blocked']) message("{$txt['Error']}: {$txt['NeedUnblock']}!",'back');
        $clamscan=trim(`PATH=$PATH which clamscan`);
        if (!$clamscan) message("{$txt['Error']}: clamscan {$txt['NotFound']}!",'back');
        if (`pgrep clamscan`) message("{$txt['Error']}: clamscan {$txt['AlreadyRunning']}!",'back');
        file_put_contents("$USERDIR/lastrun.new",$lastcheck);
        echo shell_exec("$PLUGINDIR/scripts/user_rescan.sh '{$_SERVER['HOME']}' >/dev/null 2>&1 &");
        message($txt['RescanStarted'],'back');
    }
    if ("$lastcheck"===@file_get_contents("$USERDIR/lastrun")) {
        $lastcheck=filemtime("$USERDIR/lastrun");
        $lastfull="title='{$txt['LastFullCheckTime']}: ".@date("d.m.Y H:i",$lastfull)."'";
    } else $lastfull='';
    echo "<span $lastfull>{$txt['LastCheckTime']}: ".($lastcheck?@date("d.m.Y H:i",$lastcheck):"N/A")."</span>";
    if ($infected) {
        echo "<form method=post><p style='font-weight: bold; color: red'>{$txt['FoundSuspFiles']}: ".count($infected)."</b> &nbsp; <button type=submit name=rescan value=yes>{$txt['Rescan']}</button></p></form>\n";
        echo <<<END
<p>
<table background=#FFFFFF cellpadding=3 cellspacing=1 style=min-width:650px;>
<script type="text/javascript">
<!--
function selectAll(select)
{
    with (document.tableform)
    {
	var checkval = false;
	var i=0;

	for (i=0; i< elements.length; i++)
	    if (elements[i].type == 'checkbox' && !elements[i].disabled)
		if (elements[i].name.substring(0, select.length) == select)
		{
		    checkval = !(elements[i].checked);	break;
		}

	for (i=0; i < elements.length; i++)
	    if (elements[i].type == 'checkbox' && !elements[i].disabled)
		if (elements[i].name.substring(0, select.length) == select)
		    elements[i].checked = checkval;
    }
}
function submitForm(oFormElement,submit)
{
    if (!oFormElement || !oFormElement.elements) return false;
    var data=new Array();
    [].forEach.call(oFormElement.elements,function(elem){
        if (!elem.name) return;
        if (elem.type=='submit' || elem=='button') return;
        if (elem.type=='checkbox' && !elem.checked) return;
        data.push(encodeURIComponent(elem.name) + '=' + encodeURIComponent(elem.value));
    });
//    for (var i = 0; i < oFormElement.elements.length; i++) {
//        if (!oFormElement.elements[i].name) continue;
//        if (oFormElement.elements[i].type=='submit' || oFormElement.elements[i]=='button') continue;
//        if (oFormElement.elements[i].type=='checkbox' && !oFormElement.elements[i].checked) continue;
//        data.push(encodeURIComponent(oFormElement.elements[i].name) + '=' + encodeURIComponent(oFormElement.elements[i].value));
//    }
    if (submit && submit.name) data.push(encodeURIComponent(submit.name) + '=' + encodeURIComponent(submit.value));
    var xhr = new XMLHttpRequest();
    xhr.onload = function(){ window.location = "/CMD_PLUGINS/site_scan"; }
    xhr.open (oFormElement.getAttribute('method'), oFormElement.getAttribute('action'), true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
    xhr.send (data.join('&'));
    return true;
}
// -->
</script>
    <form name="tableform" action="/CMD_FILE_MANAGER/" method="post">
    <tbody>
	<tr>
		<td class=listtitle>{$txt['FilePath']}</td>
		<td class=listtitle align=center>{$txt['MalwareName']}</td>
		<td class="listtitle wrap" align=center width=56>{$txt['Blocked']}</td>
		<td class=listtitle align=center><a class="listtitle" href="javascript:selectAll('select');">{$txt['All']}</a></td>
	</tr>
END;
        if(! $whitelist=@file("$USERDIR/whitelist.txt",FILE_IGNORE_NEW_LINES|FILE_SKIP_EMPTY_LINES)) $whitelist=array();
        for ($i=0;$i<count($infected);$i++) {
            $fname=preg_replace("#^{$_SERVER['HOME']}/#",'',$infected[$i]['path']);
            $checked=($whitefile AND $fname==$whitefile AND !in_array($infected[$i]['path'],$whitelist))?'checked':'';
            $nbcolor=in_array($infected[$i]['path'],$whitelist)?'green':'red';
            if ($fname_enc=htmlentities($fname,ENT_COMPAT|ENT_HTML401,"UTF-8"))
                $fdir=htmlentities(preg_replace("#/[^/]+$#",'',$fname),ENT_COMPAT|ENT_HTML401,"UTF-8");
            else if (extension_loaded('mbstring') OR (function_exists('dl') AND @dl('mbstring.so'))) {
                    $fname_enc=mb_encode_numericentity($fname,array (0x0, 0xffff, 0, 0xffff), 'UTF-8');
                    $fdir=mb_encode_numericentity(preg_replace("#/[^/]+$#",'',$fname),array (0x0, 0xffff, 0, 0xffff), 'UTF-8');
                } else {
                    $fname_enc=htmlentities($fname,ENT_COMPAT|ENT_HTML401|ENT_IGNORE,"UTF-8");
                    $fdir=htmlentities(preg_replace("#/[^/]+$#",'',$fname),ENT_COMPAT|ENT_HTML401|ENT_IGNORE,"UTF-8");
                }
            $ftitle=($infected[$i]['blocked']?$txt['UnblockToView']:$txt['EditFile'])." ({$txt['LastModified']}: ".strftime("%d.%m.%Y %H:%M:%S", filemtime($infected[$i]['path'])).')';
            $vtitle=($infected[$i]['unoff']?"title='{$infected[$i]['virus']}.UNOFFICIAL'":'');
            echo "<tr>
<td class='wrap list".($i%2?2:'')."' title='$ftitle'>
    <a href='/CMD_FILE_MANAGER/$fdir'><img height=16 src=/CMD_PLUGINS/site_scan/images/folder.png title='{$txt['BrowseFolder']}'></a>
    ".($infected[$i]['blocked']?'':"<a href='/CMD_FILE_MANAGER/$fname_enc?action=edit'>").$fname_enc.($infected[$i]['blocked']?'':"</a>")."</a>
</td>
<td class='list".($i%2?2:'')."'. $vtitle><a href='?siginfo={$infected[$i]['virus']}'>{$infected[$i]['virus']}</a></td>
<td align=center class='wrap list".($i%2?2:'')."'.>".($infected[$i]['blocked']?$txt['Yes']:"<font color=$nbcolor>{$txt['No']}</font>")."</td>
<td align=center class=list".($i%2?2:'')."><input type=checkbox name='select$i' value='/$fname_enc' ".($fname_enc?$checked:'disabled')."></td>
</tr>";
        }
    echo <<<END
<tr><td class="listtitle" align="right" colspan=4>{$txt['WithSelected']}:
    <input type="submit" name="permission" value="{$txt['Block']}" onclick="document.tableform.chmod.value='000';return !submitForm(document.tableform,this);">
    <input type="submit" name="permission" value="{$txt['Unblock']}" onclick="document.tableform.chmod.value='644';return !submitForm(document.tableform,this);">
    <input type="hidden" name="chmod" value="644">
    <input type="submit" name="whitelist" value="{$txt['ToWhitelist']}" onclick="document.tableform.setAttribute('action','?')">
    <input type="submit" name="add" value="{$txt['ToClipboard']}" onclick="return !submitForm(document.tableform,this)">
    <input type="button" value="{$txt['Delete']}" onclick="document.tableform.button.value = 'delete';return !submitForm(document.tableform);">
    <input type='hidden' name="action" value="multiple" />
    <input type='hidden' name="button" value="" />
    <input type='hidden' name="overwrite" value="no" />
    <input type='hidden' name="path" value="/" />
</td></tr>
<tr><td align=center colspan=4 width=650><i>{$txt['InfectedInstructions']}</i></td></tr>
</tbody>
</form>
</table>
</p>
END;
    } elseif ($lastcheck) echo "<p style='font-weight: bold; color: green'>{$txt['AllClear']}</b></p>\n";
    $autobl=!file_exists("$USERDIR/autoblock_off");
    if ($whitelist=@file_get_contents("$USERDIR/whitelist.txt")) $whitelist=htmlentities($whitelist,ENT_COMPAT|ENT_HTML401,"UTF-8");
    $virusdie_note='';
    foreach (glob($_SERVER['HOME']."/domains/*/public_html/*virusdie") as $filename) if (is_dir($filename) AND is_file("$filename.php")) {
        $virusdie_note=" <i style=color:red>".$txt['VirusdieNote']."</i>";
        break;
    }
    echo "
<p>
<table background=#FFFFFF cellpadding=3 cellspacing=0 width=650>
    <tr><td class=listtitle>{$txt['AutoBlockLong']}</td></tr>
    <tr>
	<form method=post>
	<td class=list style=white-space:normal>
	    <b>{$txt['AutoBlock']}: ".($autobl?"<font color=green>{$txt['Enabled']}</font>":"<font color=red>{$txt['Disabled']}</font>")."</b>
	    <button type=submit name=autoblock value=".($autobl?"off>{$txt['Disable']}":"on>{$txt['Enable']}")."</button>$virusdie_note<br>
	    <i>{$txt['AutoBlockComment']}</i>
	</td>
	</form>
    </tr>
    <form name=info action=/CMD_FILE_MANAGER method=POST>
    <input type=hidden name=action value=edit>
    <input type=hidden name=path value='".str_replace($_SERVER['HOME'],'',$USERDIR)."'>
    <input type=hidden name=filename value='whitelist.txt'>
    <tr><td class=list><textarea style=width:100% name=text rows=4 wrap=off>$whitelist</textarea><br>
    <i>{$txt['WhitelistComment']}</i><input style=float:right type=submit value='{$txt['SaveWhitelist']}' onclick='return !submitForm(document.info);'></td></tr>
    </form>
</table>
</p>
";
}

//if ($_SERVER['USERNAME']=='testerte') {echo "<pre>"; print_r($_ENV);}
echo $PAGE_FOOTER;
